doctype html
html
  head
    include ./components/head.pug
    link(rel='stylesheet', href='/static/css/index.css')
  body
    .wrapper#wrapper
      include ./components/header.pug
      .g-bd
        p express gulp less pug
        ol
          li npm i
          li npm run dev
      include ./components/footer.pug