doctype html
html
  head
    include ./components/head.pug
    link(rel='stylesheet', href='/static/css/index.css')
  body
    .wrapper#wrapper
      include ./components/header.pug
      include ./components/footer.pug
